<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
</head>
<body>
    <h1>Thank you <span style="color: red;">{{user.name}}</span>,
         ban da chon mon <span style="color: purple;">{{user.food}}</span> </h1>
</body>
<script> 
 

    window.onload = function(event) {
        alert('thank you!')
    };

    
</script>
</html>